# Actividad - Trabajando con DataFrames de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: pandas_df_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter
* Deben trabajar con el datasets adjunto a la actividad

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

In [25]:
import pandas as pd
import sqlite3

#Aqui agrega la conexión a la base de datos
conn = sqlite3.connect("Salaries.sqlite")

#Crea el dataframe con los datos del datasets
df = pd.read_sql_query("SELECT * FROM Salaries", conn)

conn.close()
df.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,None,567595.43,567595.43,2011,None,San Francisco,None
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,None,538909.28,538909.28,2011,None,San Francisco,None
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,None,335279.91,335279.91,2011,None,San Francisco,None
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,None,332343.61,332343.61,2011,None,San Francisco,None
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,None,326373.19,326373.19,2011,None,San Francisco,None

1. **Top 10 empleados con mayor salario total (incluyendo beneficios)**
Extrae e imprime un top 10 de expleados con mayor salario incluyendo los beneficios

In [ ]:
#Se ordenan los 10 valores más altos de "TotalPayBenefits" de forma descendente
mayor_salario = df.sort_values(by="TotalPayBenefits", ascending=False).head(10)
mayor_salario

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,None,567595.43,567595.43,2011,None,San Francisco,None
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,None,538909.28,538909.28,2011,None,San Francisco,None
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,None,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,None,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,None,San Francisco,PT
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,None,San Francisco,None
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.0,23236.0,85431.39,336922.01,422353.40,2013,None,San Francisco,None
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,None,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,None,San Francisco,FT
110536,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.2,71580.48,344187.46,415767.94,2014,None,San Francisco,FT

2. **Filtrar empleados con más de 50,000 en horas extra, la columna a tratar es: (OvertimePay)**

In [ ]:
#En la columna "OvertimePay" hay ciertos valores que dicen "Not Provided", si no se convierte esto a NaN no se va a poder trabajar con datos númericos.
#Lo demas se convierte a int
df["OvertimePay"] = pd.to_numeric(df["OvertimePay"], errors="coerce").fillna(0).astype(int)

df[df["OvertimePay"] > 50000]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131,137811.38,None,538909.28,538909.28,2011,None,San Francisco,None
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088,16452.6,None,335279.91,335279.91,2011,None,San Francisco,None
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120,198306.9,None,332343.61,332343.61,2011,None,San Francisco,None
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062,134426.14,None,315981.05,315981.05,2011,None,San Francisco,None
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362,40132.23,None,303427.55,303427.55,2011,None,San Francisco,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118288,118289,Francisco A Arce,Transit Operator,66628.53,51625,1178.11,34801.17,119432.06,154233.23,2014,None,San Francisco,FT
118342,118343,Felix Pagatpatan,Transit Operator,65620.85,52550,1407.74,34350.93,119579.12,153930.05,2014,None,San Francisco,FT
119450,119451,Bobby Jones,Track Maintenance Worker,60263.3,50265,8188.87,28210.55,118717.40,146927.95,2014,None,San Francisco,FT
119607,119608,Hung V Nguyen,Diagnostic Imaging Tech I,44939.15,74935,6496.58,19401.42,126371.69,145773.11,2014,None,San Francisco,PT
120204,120205,Girma-Worku Zeleke,Parking Control Officer,59555.2,54738,397.04,26938.47,114690.60,141629.07,2014,None,San Francisco,FT

3. **Contar cuántos empleados únicos hay por año**

In [ ]:
#Se agrupa el nombre de los empleados por año y se cuentan sin repetición
empleados_por_año = df.groupby("Year")["EmployeeName"].nunique()
empleados_por_año

Year
2011    33878
2012    34349
2013    36150
2014    36684
Name: EmployeeName, dtype: int64

4. **Ver cuántos cargos únicos (JobTitle) existen y los 5 más comunes**

In [ ]:
#Conteo de cargos únicos evitando que se repitan
cargos_unicos = df["JobTitle"].nunique()
print("Cargos únicos: ", cargos_unicos)

#Se realiza el conteo de los 5 más comunes
cargos_comunes = df["JobTitle"].value_counts().head(5)
print("\nLos 5 cargos más comunes: ")
print(cargos_comunes)

Cargos únicos:  2159

Los 5 cargos más comunes:
JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

5. **Mostrar el salario total (TotalPay) promedio por año**

In [ ]:
#Se utiliza el método mean para calcular el promedio de la paga total por año
salario_promedio = df.groupby("Year")["TotalPay"].mean()
salario_promedio

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

6. **Exporta todos los datos a un CSV y muestra los ultimos 10 valores**

In [ ]:
#Se realiza la conversión a CSV, sin el indice
df.to_csv("Salaries.csv", index=False)

ultimos_valores = df.tail(10)
ultimos_valores

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,None,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,None,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,None,San Francisco,None
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,None,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,None,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,None,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,None,San Francisco,None
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,None,San Francisco,None
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,None,San Francisco,None
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,None,San Francisco,PT